/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*HEADER style*/
header {
    display: flex;
    flex-direction: row;
    height: 70px;
    background: azure;
}

.site_branding {
    width: 50%;
}

.site_navbar {
    width: 50%;
}



/* item show page */
.showitem_full {
    display: flex;
    padding: 10px;
    width: 80%;
    margin: auto;
}


.showitem_images {
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.showitem_images img {
    width: 95%;
    padding-bottom: 15px;
}

.showitem_desc {
    padding: 10px;
    width: 50%;
}


/* item list */

div#items {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.listItem_thumb {
    margin-right: 20px;
}

.list_item {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}